##
# Rhizome Bootstrap Configuration
##

# Set to false to disable persistence
enable-persistence:  false
session-clustering-enabled: false

hazelcast:
    server: true
    instance-name: "hazelcast-server"
    group: "localv2"
    password: "paynoattentiontothemanbehindthecurtain"
    port: 5701
    seed-nodes:
        - "hazelcast-server"

cassandra:
    keyspace: "kryptnostic"
    replication-factor: 2
    seed-nodes:
        - "cassandra"

spark:
    appName: "Test"
    port: 7077
    local: true
    jars:
        - "./jars"
    master:
        - "spark"
